@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@600&display=swap');
*{
    background-color: white;
}

img {
    height: 140px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar li {
    display: inline-block;
    justify-content: space-between;
    padding: 0px 20px;
    font-size: x-large;
    font-family: 'Gabarito', cursive;
}
.focus{
    background-color: rgb(130, 130, 226);
    border-radius: 30px;
}
button
{
    border-radius: 30px;
    height: 30px;
    width: 80px;
    margin-right: 20px;
    border-color: rgb(197, 197, 26);
}
